<div class="wrapper">

  <section>
    <div id="title">
      <h1><a href="{{ site.baseurl }}/index">Michael Mommert</a></h1>
      <p>Computer Vision and Earth Observation</p>
    </div>

    <div class="navbar">
      <a href="{{ site.baseurl }}/index">Home</a>
      <a href="{{ site.baseurl }}/pages/research">Research</a>
      <a href="{{ site.baseurl }}/pages/cv">CV</a>
      <a href="{{ site.baseurl }}/pages/pubs">Publications</a>      
      <a href="{{ site.baseurl }}/pages/archive">Archive</a>
    </div>

  </section>
  <hr>
  
</div>


