---
---

@import "minima";

.badge_blue, .badge_green, .badge_red {
  background-color: steelblue;
  color: white;
  padding: 1px 10px;
  font-size: 70%;
  text-align: center;
  border-radius: 10px;
}

.badge_green {
  background-color: forestgreen;
}

.badge_red {
  background-color: darkred;
}

 .arrow {
  border: solid cornflowerblue;
  border-width: 0 10px 10px 0;
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
